[user]
email = levithegeek@gmail.com
name = Levi Smith
signingkey = 9C9A099512CE70F14DCAC9DA4B45931850933D0E
[include]
path = /home/levi/.config/delta/theme.gitconfig
[core]
editor = nvim
autocrlf = input
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
excludesfile = /home/levi/.gitignore
pager = delta
[interactive]
diffFilter = delta --color-only
[credential]
helper = cache
[commit]
gpgsign = true
[merge]
conflictstyle = diff3
[diff]
tool = difftastic
algorithm = histogram
colorMoved = default
colorMovedWS = allow-indentation-change
[delta]
features = fynx
# features = chameleon
# features = gruvmax-fang
[difftool]
prompt = false
[difftool "difftastic"]
cmd = difft "$LOCAL" "$REMOTE"
[pager]
difftool = true
[push]
	autoSetupRemote = true
[alias]
dft = difftool
dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
[blame]
ignoreRevsFile = .git-blame-ignore-revs
[branch]
sort = -committerdate
[tag]
sort = taggerdate
[pull]
	ff = only
