<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.clamav.scan</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/clamscan</string>
        <string>--recursive</string>
        <string>--infected</string>
        <string>--log=/usr/local/var/log/clamav/scan.log</string>
        <string>/Users/</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
</dict>
</plist>